.content p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav {
    padding-top: 1%;
    width: 300px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;

  }
  
  .nav a {
    display: block;
    color: rgba(255,255,255,.8);
    padding: 16px;
    text-decoration: none;
  }
  

  .nav a.active {
    color:rgba(255,215,0,1);
  }
  

  .nav a:hover:not(.active) {
    background-color: gray;
    color: white;
  }

  div.content {
    margin-top: 2% ;
    margin-left: 25%;
    min-height: 90vh;
    height: auto;
    background-color: black;
    padding-bottom: 1%;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .nav {
      width: 100%;
      height: auto;
      position: relative;
    }
    .nav a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally*/
  @media screen and (max-width: 400px) {
    .nav a {
      text-align: center;
      float: none;
    }
  }

  .Avatar {
    margin-left: 25%;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    vertical-align: middle;
    border: 5px solid #383838;
  }

  .nav i {
    padding-right: 3%;
  }

  .navName{
      color: white;
      text-decoration: none;
      text-align: center;
      font-size: 30px;
  }

  .about{
    margin-left:1% ;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    width: 95%;
  }

  .r{
    font-size: 18px;
  }

  .about a:link{
    color: gold;
    background-color: transparent;
    text-decoration: underline;
  }

  .about a:visited {
    color: gold;
    background-color: transparent;
    text-decoration: none;
    }

  .about a:hover {
      color: red;
      background-color: transparent;
      text-decoration: underline;
  }

  .about img{
    width: 30%;
    float: right;
    margin: 1%;
    
  }
  
   img.resume:hover  {
    border: 5px solid gold;
  }

  .index{
    width: 100%; 
    height: auto;
    min-height: 90vh;
  }

  .row {
    margin: 4px -8px;
    
  }
  
  .row,
  .row > .column {
    padding: 8px;
    margin-left: 5%;
  }
  
  .column {
    float: left;
    width: 40%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .project {
    background-color: black;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  .row h3, .row p, .row h5{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    word-break: break-word;
  }

  .IDgif{ 

    width: 55vh;
    height: 30vh;
    background:transparent url(Images/Impossible\ Dash\ Image.PNG) center no-repeat;
    background-size: 100%;
  }

  .IDgif:hover{

    background-image: url(Gifs/Impossible\ Gif.gif);
  }

  .MMMgif{ 

    width: 55vh;
    height: 30vh;
    background:transparent url(Images/Mage\ Maze\ Madness\ Image.PNG) center no-repeat;
    background-size: 100%;
  }

  .MMMgif:hover{

  background-image: url(Gifs/MMM_Gif.gif);
  }

  .DDgif{ 

    width: 55vh;
    height: 30vh;
    background:transparent url(Images/Deadliest\ Dance\ Image.PNG) center no-repeat;
    background-size: 100%;
  }

  .DDgif:hover{

    background-image: url(Gifs/DeadliestDanceGif.gif);
  }

  .Blockgif{ 

    width: 55vh;
    height: 30vh;
    background:transparent url(Images/Blockoutpic.PNG) center no-repeat;
    background-size: 100%;
  }

  .Blockgif:hover{

  background-image: url(Gifs/Blockout-Gif.gif);
  }

  .Doggif{ 

    width: 55vh;
    height: 30vh;
    background:transparent url(Images/DogMan\ Image.PNG) center no-repeat;
    background-size: 100%;
  }

  .Doggif:hover{

    background-image: url(Gifs/DogMan-Gif.gif);
  }

  .Hangmangif{ 

    width: 55vh;
    height: 30vh;
    background:transparent url(Images/Hangman.jpg) center no-repeat;
    background-size: 100%;
  }

  .Hangmangif:hover{

    background-image: url(Gifs/Hangman-Gif.gif);
  }

  .port a:link{
    color: gold;
    background-color: transparent;
    text-decoration: underline;
  }

  .port a:visited {
    color: gold;
    background-color: transparent;
    text-decoration: underline;
    }

  .port a:hover {
      color: red;
      background-color: transparent;
      text-decoration: underline;
  }

  .flip-card {
    padding: 2%;
    float: left;
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color: black;
  }
  
  .flip-card-back {
    background-color:  #383838;
    color: white;
    transform: rotateY(180deg);
  }

.LI-profile-badge{
  width: 0%;
  float: right;
  margin-top: 40%;
 
}

.container {
  position: relative;
  width: 80%;
  overflow: hidden;
  padding-top: 40%;
  margin-left: 10%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.game h2{
  text-align: center;
  color:gold;
  font-size: 35px;
}

.game p, .game h3{
  margin-left: 10%;
  color:white;
}